body {

    display: flex;

    justify-content: center;

    align-items: center;

    margin: 50px;

    flex-direction: column;

}



:root {

    --menu: rgb(191, 228, 216);

    --conteudo: rgb(136, 182, 192);

    --interno: rgb(224, 224, 224);

}

.dark-mode {
    
    --texto:white;
    --conteudo: rgb(38, 44, 47);
    --interno: rgb(90, 78, 150);
    --menu: black;
}



#caixa1 {

    width: 90%;

    height: 1200px;

    border: 3px solid;

    display: flex;

    align-items: center;

    justify-content: space-around;

    background-color: var(--menu);

    min-width: 900px;

}



#interno1 {

    width: 70%;

    height: 97%;

    border: 3px solid;

    min-width: 12.5%;

    display: flex;

    justify-content: space-around;

    flex-direction: column;

    align-items: center;

    background-color: var(--interno);

}



#conteudo1 {

    width: 90%;

    height: 30%;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: white;

}

#conteudo2 {

    width: 90%;

    height: 35%;
  
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    gap: 15px;
}

input {
    text-align: center;
    border-radius: 10px;
}


.cx1 {
    height: 30px;
    width: 300px;
    box-sizing: border-box;
}

#cx1, #cx2, #cx3, #cx4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#conteudo3 {

    width: 90%;

    height: 15%;

    align-items: center;

    justify-content: center;

    display: flex;

}



.conteudo {

    border: 3px solid;

    border-radius: 20px;

    background-color: white;

}



#interno2 {

    width: 20%;

    height: 97%;

    border: 3px solid;

    background-color: white;

    display: flex;

    flex-direction: column;

    align-items: center;

}



label {

    font-size: 20px;

    width: 150px;

    text-align: right;

    margin-right: 30px;

}



.ct1 {

    width: 90%;

    height: 25%;

    border: 3px solid;

    margin: 5px;

}

.ct2 {
    border: 3px solid;
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.png {

    width: 100%;
    height: 100%;
}

a {
    font-size: 25px;
    margin: 10px;
    background-color: black;
    color: white;
    width: 85%;
    height: 5%;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgb(54, 173, 209);
    text-decoration: none;
}




@media (max-width: 900px) {

    #caixa1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        padding: 30px;
        height: 1700px;
    }

    img {
        width: 250px;
        height: 125px;
    }

    .png {
        width: 100%;
        height: 100%;
    }

    #interno1 {
        width: 90%;
        height: 1000px;
    }

    #interno2 {
        width: 90%;
        height: 800px;

    }

    .ct1 {
        align-items: center;
        display: flex;
        height: 30%;
    }

    .ct2 {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}




