body {
    width: 70%;
    margin: 0 auto;
}

div {
    border: 3px solid;
    margin: 20px 0 20px 0;
    height: 50px;
}

#menu {
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color:black;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#conteudo {
    height: 253px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 450px;
    max-width: 45%;
}

#footer {
    height: 150px;
    text-align: center;
}
#video {
    margin-left: 20px;
    border: 3px solid;
    max-width: 45%;
    height: 253px;
}

